<%- include('../includes/head.ejs') %> 
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Campaign</h1>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill9/dist/polyfill.js"></script>
        <!-- <a href="/admin/campaigns/create" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add campaign</span>
        </a> -->

        <!-- DataTales Example -->
        <div class="card shadow mb-4 mt-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Campaign</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Slug</th>
                            <th class="text-center">Goal</th>
                            <th class="text-center">End date</th>
                            <th class="text-center">Rating Point</th>
                            <th class="text-center">Short Description</th>
                            <th class="text-center"><select id="MySelectOption" class="custom-select custom-select-sm form-control form-control-sm" onchange="myFunction()">
                                <option value="" selected="selected">All status</option>
                                <option value="setting">setting</option>
                                <option value="waiting">waiting</option>
                                <option value="public">public</option>
                                <option value="closed">closed</option>
                                <option value="blocked">blocked</option>
                         </select>
                            <!-- <th class="text-center text-danger"><i class="fa fa-bolt"></th> -->
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Slug</th>
                            <th class="text-center">Goal</th>
                            <th class="text-center">End date</th>
                            <th class="text-center">Rating Point</th>
                            <th class="text-center">Short Description</th>
                            <th class="text-center">Status</th>
                            <!-- <th class="text-center">Action</th> -->
                        </tr>
                    </tfoot>
                    <tbody>
                        <% for (let campaign of campaigns) { %> 
                            <tr>
                                <td class="text-center"><%= campaign.id %></td>
                                <td class="text-center"><%= campaign.campaignTitle %></td>
                                <td class="text-center"><%= campaign.campaignSlug %></td>
                                <td class="text-center"><%= campaign.campaignGoal %></td>
                                <td class="text-center"><%= campaign.campaignEndDate %></td>
                                <td class="text-center"><%= campaign.campaignRatingPoint %></td>
                                <td class="text-center"><%= campaign.campaignShortDescription %></td>
                                <td class="text-center"><%= campaign.campaignStatus %></td>
                                <!-- <td class="text-center">
                                    <div class="btn-group" role="group">
                                    <a href="/admin/campaigns/edit/<%= campaign.campaignSlug %> " class="btn btn-sm btn-success" title="Edit campaign"><i class="fa fa-edit"></i></a>
                                    <a href="/admin/campaigns/delete/<%= campaign.id %> " class="btn btn-sm btn-danger ml-2" title="Delete campaign"><i class="fa fa-trash"></i></a>
                                </div></td> -->
                            </tr>
                        <% }  %> 
                        
                    </tbody>
                    </table>
                    <script>
                        function myFunction() {
                          // Declare variables
                          var input, filter, table, tr, td, i, txtValue;
                          input = document.getElementById("MySelectOption"); 
                          var option = input.options[input.selectedIndex].value;            
                          filter = option.toUpperCase();
                          console.log(filter);
                          table = document.getElementById("dataTable");
                          tr = table.getElementsByTagName("tr");
                        
                          // Loop through all table rows, and hide those who don't match the search query
                          for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[7];
                            if (td) {
                              txtValue = td.textContent || td.innerText;
                              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                              } else {
                                tr[i].style.display = "none";
                              }
                            }
                          }
                        }
                        </script>
                </div>
            </div>
        </div>
        
    </div>
    <!-- /.container-fluid -->
    <%- include('../includes/end.ejs') %> 
