<%- include('../includes/head.ejs') %> 
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Categories</h1>
        <a href="/admin/categories/create" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add Categories</span>
        </a>

        <!-- DataTales Example -->
        <div class="card shadow mb-4 mt-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Slug</th>
                            <th class="text-center">Icon</th>
                            <th class="text-center">Status</th>
                            <th class="text-center text-danger"><i class="fa fa-bolt"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Slug</th>
                            <th class="text-center">Icon</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <% for (let category of categories) { %> 
                            <tr>
                                <td class="text-center"><%= category.id %></td>
                                <td class="text-center"><%= category.categoryTitle %></td>
                                <td class="text-center"><%= category.categorySlug %></td>
                                <td class="text-center"><%= category.categoryIcon %></td>
                                <td class="text-center"><%= category.status %></td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                    <a href="/admin/categories/edit/<%= category.categorySlug %> " class="btn btn-sm btn-success" title="Edit category"><i class="fa fa-edit"></i></a>
                                    <a href="/admin/categories/" class="btn btn-sm btn-danger ml-2" title="Delete category"><i class="fa fa-trash"></i></a>
                                </div></td>
                            </tr>
                        <% }  %> 
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <!-- /.container-fluid -->
    <%- include('../includes/end.ejs') %> 
