<%- include('../includes/head.ejs') %>
<!-- Begin Page Content -->
<style>
  .table td {
    border-top: none;
  }

  .text-dark-medium {
    color: #111111;
  }

  .avatar img {
    width: 100%;
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Người dùng</h1>

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <h4 class="pt-3 pl-3 text-dark">Thông tin người dùng</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 avatar">
              <img src="<%= user.avatar? user.avatar : '/img/users/male.png' %>" alt="Avatar user" />
            </div>
            <div class="col-md-6 ml-lg-5">
              <h3 class="text-dark"><%= user.fullname %></h3>
              <div class="info-table table-responsive">
                <table class="table text-nowrap">
                  <tbody>
                    <tr style="border: none;">
                      <td>Tên:</td>
                      <td class="font-medium text-dark-medium"><%= user.fullname %></td>
                    </tr>
                    <tr>
                      <td>Địa chỉ:</td>
                      <td class="font-medium text-dark-medium"><%= user.address %></td>
                    </tr>
                    <tr>
                      <td>Thành phố:</td>
                      <td class="font-medium text-dark-medium"><%= user.region %></td>
                    </tr>
                    <tr>
                      <td>E-mail:</td>
                      <td class="font-medium text-dark-medium"><%= user.email %></td>
                    </tr>
                    <tr>
                      <td>Chiến dịch đã tạo:</td>
                      <td class="font-medium text-dark-medium"><%= campaignCount %></td>
                    </tr>
                    <tr>
                      <td>Tổng số tiền được quyên góp:</td>
                      <td class="font-medium text-dark-medium"><%= countRaised %> đ</td>
                    </tr>
                    <tr>
                      <td>Tổng số tiền đã quyên góp:</td>
                      <td class="font-medium text-dark-medium"><%= countDonating %> đ</td>
                    </tr>
                    <tr>
                      <td>Điểm đánh giá:</td>
                      <td class="font-medium text-dark-medium"><%= user.ratingPoint %></td>
                    </tr>
                    <tr>
                      <td>Role:</td>
                      <td class="font-medium text-dark-medium"><%= user.role %></td>
                    </tr>
                    <tr>
                      <td>Ngày tạo tài khoản:</td>
                      <td class="font-medium text-dark-medium">
                        <%= user.createdAt.getDate() + "-" + (user.createdAt.getMonth() + 1) + "-" +
                        user.createdAt.getFullYear(); %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
<%- include('../includes/end.ejs') %>
