<%- include('../includes/head.ejs') %>



<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quyên góp bằng tiền mặt</h1>

  <select class="custom-select" id="selection" onchange="location = this.value" style="width: 100px;">
    <%
    var options = ["All", "pending", "done", "reject"];
    for ( var i = 0; i < options.length; i++ )
    {
      if (options[i] != 'All') {
        var selected = ( status == options[i] ) ? "selected" : "";
        %><option value="<%='http://127.0.0.1:5000/admin/donations/' + options[ i ] %>" <%=selected %>>
      <%=options[i] %>
    </option><%
      } else { %>
    <option value="http://127.0.0.1:5000/admin/donations/" selected>All</option>
    <% }
        
    }
    %>


  </select>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-5">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Quyên góp bằng tiền mặt</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center">Mã giao dịch</th>
              <th class="text-center">Tên</th>
              <th class="text-center">Chiến dịch</th>
              <th class="text-center">Số tiền</th>
              <th class="text-center">Địa chỉ</th>
              <th class="text-center">Trạng thái</th>
              <th class="text-center text-danger"><i class="fa fa-bolt"></th>
            </tr>
          </thead>
          <tbody>
            <% for (let donation of donations) { %>
            <tr>
              <td class="text-center"><%= donation.trackingCode %></td>
              <td class="text-center"><%= donation.User.fullname %></td>
              <td class="text-center"><%= donation.Campaign.campaignTitle %></td>
              <td class="text-center"><%= donation.donationAmount %></td>
              <td class="text-center"><%= donation.User.address || '' %></td>
              <td class="text-center">
                <% if(donation.donationStatus === 'pending'){%>
                <span class="badge badge-warning"><%= donation.donationStatus %></span>
                <% } else if(donation.donationStatus === 'done'){ %>
                <span class="badge badge-success"><%= donation.donationStatus %></span>
                <% } else if(donation.donationStatus === 'reject'){ %>
                <span class="badge badge-danger"><%= donation.donationStatus %></span>
                <% } %>
              </td>
              <td class="text-center">
                <div class="btn-group" role="group">
                  <a href="/admin/donations/details/<%= donation.id %>" class="btn btn-sm btn-primary"
                    title="View donation's details"><i class="fas fa-eye"></i></a>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; LoveUs 2019</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Datatable Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Datatable Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script>
  function validate() {
    let card = document.getElementById("selection");
    let selectedValue = card.options[card.selectedIndex].value;
    console.log(selectedValue);
    if (card.value === status) {
      ("Please select a card type");
    }
  }
</script>
</body>

</html>